button {
    color: red;
    text-align: center;
}

p {
  color: blue;
  text-align: center;
}

div {
  width: 700px;
  margin: 0 auto;
}


#temperature {
  width: 30px;
}

#Power_save_mode {
  width: 75px;
}

input[type=text] {
  text-align: center;
  font-weight: bold;
}
