* {
  font-family: 'Ubuntu', sans-serif;
  background-color: transparent;
  box-sizing: border-box;
}
button {
    color: red;
    text-align: center;
    font-weight: bold;
}

button:hover {
  background: #383;
}

p {
  color: blue;
  text-align: center;
}

#appContainer {
  border: 1px solid black;
  width: 500px;
  margin: 0 auto;
  text-align:center;
  padding: 20px;
  background-color: rgb(255,255,204);
}

#app {
  margin:auto;
}

#ThermometerImg {
  width:25%;
  padding:5px;
}

#appTitle {
  font-size: 30px;
}

#temperature {
  width: 50px;
  height: 45px;
  font-size: 30px;
}

.iconImg {
  width: 20px;
}

.low {
  color: green;
}

.medium {
  color: orange;
}

.high {
  color: red;
}

#Power_save_mode {
  width: 75px;
}

input[type=text] {
  text-align: center;
  font-weight: bold;
}

.slider {
  float:left;
  /*height: 250px;*/
  /*height: 250px;*/
  width: 400px;
  margin-left: 50px;
}

#vertical-slider {
    height: 150px;
    margin-left: 30px;
}
